# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
spaces_around_operators = inside

[*.{json,yml,yaml,csproj,props,md}]
trim_trailing_whitespace = true
indent_size = 2
indent_style = space

[*.ts]
quote_type = double

[*.md]
max_line_length = off
trim_trailing_whitespace = false

