@import "@app/mixins";
@import "@app/colors";

:host {
  display: grid;
  grid-template-columns: 1fr 0 5fr;
  grid-template-rows: calc(90vh - 20px) 10vh;
  grid-gap: 20px;
  @include breakpoint("small") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
}

.side-menu {
  border-right: 1px dashed $black;
  .side-menu__item {
    display: block;
    padding: 8px 0;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: $black;
      background-color: $hover-menu;
    }
  }
}

footer {
  background-color: black;
  color: white;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 -10px; //imposible to do grid-gap for specific element. 
}