@import "@app/mixins";

:host {
  display: grid;
  grid-template-columns: 1fr 0 5fr;
  grid-template-rows: calc(90vh - 20px) 10vh;
  grid-gap: 20px;
  @include breakpoint("small") {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
}

.side-menu {
  border-right: 1px dashed black;
  .side-menu__item {
    display: block;
    padding: 8px 0;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #000;
      background-color: #ccc;
    }
  }
}