@import "@app/mixins";
@import '@app/cards-grid';

:host {
	overflow-x: hidden;
	overflow-y: auto;
}

.app-games {
	&__command-bar {
		display: grid;
    grid-template-columns: 1fr 1fr;
		padding-bottom: 10px;
	}
}