<h1 class="app-games__title">Games</h1>
<div class="app-games__command-bar">
	<div class="app-games__search-container">
		<label for="search">Search</label>
		<input type="search" [formControl]="searchField">
	</div>
	<div class="app-games__search-container">
		<label for="games">Choose a car:</label>
		<select name="games" id="games">
			<option value="volvo">Volvo</option>
			<option value="saab">Saab</option>
			<option value="opel">Opel</option>
			<option value="audi">Audi</option>
		</select>
	</div>
</div>


<div class="app-games__content">
	<div class="cards-container">
		<app-card *ngFor="let game of gamesData" [game]="game"></app-card>
	</div>
</div>