<h1 class="app-games__title">Games</h1>
<div class="app-games__command-bar">
  <div class="app-games__search-container">
    <label for="search">Search</label>
    <input
      type="search"
      name="search"
      id="search"
      [formControl]="searchField"
    />
  </div>
  <div class="app-games__search-container">
    <div class="select-container">
			<details>
					<summary>Choose a Provider</summary>
					<ul class="select__content">
							<li *ngFor="let provider of providerData">
								<label>
									<input 
                  type="checkbox" 
                  name="provider" 
                  [value]="provider"
                  (change)="onCheckboxChange($event, provider)"
                  [checked]="checkedProviders.includes(provider)"
                  />{{provider}}
								</label>
							</li>
					</ul>
			</details>
		</div>
  </div>
</div>

<div class="app-games__content">
  <div class="cards-container">
    <app-card *ngFor="let game of games" [game]="game"></app-card>
  </div>
</div>
